lrtp-app gl-drawer ion-list.list-md,
lrtp-app gl-drawer ion-list.list-ios {
  margin-bottom: 0;
}
lrtp-app .flash {
  -webkit-animation-name: flash-animation;
  -webkit-animation-duration: 1.5s;
  animation-name: flash-animation;
  animation-duration: 1.5s;
}
lrtp-app gl-form-page ion-list-header.list-header-md,
lrtp-app gl-form-page ion-list-header.list-header-ios,
lrtp-app gl-form-page gl-field[type="text"] ion-label.label-md,
lrtp-app gl-form-page gl-field[type="text"] ion-label.label-ios {
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: normal;
  text-transform: none;
}
lrtp-app gl-form-page ion-list-header {
  justify-content: flex-start;
}
lrtp-app gl-draw-toolbar .toolbar-title::before,
lrtp-app gl-form-page ion-list-header::before,
lrtp-app gl-form-page .item-textarea ion-label::before {
  background-color: black;
  border-radius: 0.7em;
  color: white;
  content: '1';
  display: inline-block;
  font-weight: bold;
  height: 1.4em;
  line-height: 1.4em;
  margin-right: 0.5em;
  text-align: center;
  width: 1.4em;
}
lrtp-app gl-form-page ion-list-header::before {
  content: '4';
}
lrtp-app gl-form-page.gl-form-page-facet-none ion-list-header::before {
  content: '2';
}
lrtp-app gl-form-page.gl-form-page-facet-pedestrian ion-list-header::before,
lrtp-app gl-form-page.gl-form-page-facet-bicycle ion-list-header::before,
lrtp-app gl-form-page.gl-form-page-facet-bus ion-list-header::before,
lrtp-app gl-form-page.gl-form-page-facet-automobile ion-list-header::before,
lrtp-app gl-form-page.gl-form-page-facet-plane ion-list-header::before,
lrtp-app gl-form-page.gl-form-page-facet-train ion-list-header::before {
  content: '3';
}
lrtp-app gl-form-page .item-textarea ion-label::before {
  content: '5';
}
lrtp-app gl-form-page.gl-form-page-facet-plane .item-textarea ion-label::before,
lrtp-app gl-form-page.gl-form-page-facet-train .item-textarea ion-label::before {
  content: '4';
}
@-webkit-keyframes flash-animation {
  from {
    background: yellow;
  }
  to {
    background: default;
  }
}
@keyframes flash-animation {
  from {
    background: yellow;
  }
  to {
    background: default;
  }
}
lrtp-app .mapboxgl-ctrl.mapboxgl-ctrl-attrib p {
  display: inline;
}
lrtp-app .mapboxgl-popup {
  max-width: 60%;
}

@media (max-width: 640px) {
  ion-toolbar ion-title .toolbar-title {
    font-size: 1em;
  }

  div#driver-popover-item {
    max-width: 200px;
    min-width: 200px;
  }
  div#driver-popover-item .driver-popover-title {
    font-size: 14px;
  }
  div#driver-popover-item .driver-popover-description {
    font-size: 12px;
    line-height: 1.2;
  }
}
